<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>CRUD - Spring Boot</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Ramon Malaquias" />
</head>
<body>

	<h1>Cadastro de Usuário</h1>
	<form th:action="@{/usuario/salvar}" th:object="${usuario}"
		method="post">
		<input type="hidden" th:field="*{id}" />
		<label for="nome">Nome: </label>
		<input type="text" id="nome" th:field="*{nome}" />
		<br />
		<button type="submit">Cadastrar</button>
	</form>

</body>
</html>
